:root {
  --primary-color: #2f1b41;
  --secondary-color: #e3e3e3;
  --background-color: ##f2f2f2;
  --third-color: #fecd51;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 30px 0;
}
.App-footer {
  text-align: left;
  font-size: 14px;
}
.App h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--primary-color);
}
.App .link {
  color: var(--primary-color);
}
body {
  font-family: "Poppins", sans-serif;
}
